ul {
    list-style: none;
}

section {
    position: top;
    padding:0px;
    margin:0px;
}

section h1 {
    margin:5% 5px;
    text-align: center;
    color:#9a031e;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

section > form input[type="submit"] {
    width: 120px;
    height: 28px;
    color:white;
    font-size: medium;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 20px;
    border-radius: 20px;
    margin: 5px 4px 20px;
    background-color: #9a031e;
}

section > form input[type="button"] {
    width: 120px;
    height: 28px;
    color:white;
    font-size: medium;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 20px;
    border-radius: 20px;
    margin: 5px 4px 20px;
    background-color: rgb(81, 186, 84);
}

main form > ul{
    width: 100%;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

main form ul li{
    margin-bottom: 20px;
}
main form ul li label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin:10px;
}

main form ul li textarea{
    width: 100%;
    height: 250px;
}

main form ul li ul {
    text-align: left;
}

@media screen and (min-width:768px){
    section{
        width:165%;
    }
}