section {
    position: top;
    padding:0px;
    margin:0px;
}

section h1 {
    margin:5% 5px;
    text-align: center;
    color:#9a031e;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}