<div class="comment">
    <form>
        <span class="textarea" role="textbox" contenteditable></span>
        <input type="submit" class="comment" value="Invia">
    </form> 
</div>
<div class="comment">
    <div>
        <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/>
        <h3>Nome Cognome<br>Data</h3>
    </div>
    
    <p>
        Lorem ipsum dolor sit amet. Vel quaerat neque vel quod dolorum aut ratione maiores cum asperiores quia non facere dolores eum consectetur voluptatibus!
    </p>
</div>
<div class="comment">
    <div>
        <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/>
        <h3>Nome Cognome<br>Data</h3>
    </div>
    <p>
        Questo è un commento molto interessante
    </p>
</div>