<!DOCTYPE html>
<html lang="it">
<head>
    <title>TinkleArt - Home</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="icon" type="img/png" href="../img/Home.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        <img src="../img/Indietro.png" alt="Bottone Indietro" class="icone"/>
        <img src="../img/TinkleArt.png" alt="TinkleArt" class="logo"/>
        <img src="../img/Home.png" alt="Bottone Home" class="icone web"/>
        <img src="../img/Menu.png" alt="Bottone Menu" class="icone web">
        <img src="../img/Notifiche.png" alt="Bottone Notifiche" class="icone web">
        <a href="aggiungiPost.html" class="web">+</a>
        <img src="../img/Cerca.png" alt="Bottone Cerca" class="icone web">
        <img src="../img/Foto.png" alt="Bottone Profilo" class="icone web">
        <div class="impostazioni web">
            <ul>
                <li>
                    <a href="#"><img src="../img/Privacy.png" alt="Icona Privacy" class="icone" />Privacy</a>
                </li>
                <li>
                    <button type="submit"><img src="../img/Logout.png" alt="Icona Logout" class="icone"/>Logout</button>
                </li>
            </ul>
        </div>
        <div  class="web">
            <ul>
                <li>
                    <img src="../img/NotificaNuova.png" alt="Icona Nuova Notifica" class="icone" />
                    <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label><img src="../img/Bigiotteria.png" alt="Categoria_Bigiotteria" class="icone"/>
                </li>
                <li>
                    <button type="submit"><img src="../img/NotificaVista.png" alt="Icona Notifica Già Vista" class="icone"/>Logout</button>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <aside class="web">
            <h1>Categorie</h1>
            <ul>
                <li>
                    <a href="#"><img src="../img/Bigiotteria.png" alt="Immagine" class="icone"/>Bigiotteria</a>
                </li>
                <li>
                    <a href="#"><img src="../img/Falegnameria.png" alt="Immagine" class="icone"/>Falegnameria</a>
                </li>
                <li>
                    <a href="#">Altre</a>
                </li>
            </ul>
            <hr>
            <h1>Seguiti</h1>
            <ul>
                <li>
                    <button type="button"><img src="../img/Foto.png" alt="Foto Profilo" class="icone"/>Nome Cognome</button>
                </li>
                <li>
                    <button type="button"><img src="../img/Foto.png" alt="Foto Profilo" class="icone"/>Nome Cognome</button>
                </li>
                <li>
                    <button type="button">Altri</button>
                </li>
            </ul>
        </aside><section>
            <h1>Home</h1>
            <div class="post">
                <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label><img src="../img/Bigiotteria.png" alt="Categoria_Bigiotteria" class="icone"/>
                <br />
                <label>Data</label>
                <br />
                <p>
                    Lorem ipsum dolor sit amet. Vel quaerat neque vel quod dolorum aut ratione maiores cum asperiores quia non facere dolores eum consectetur voluptatibus! Aut dolorem incidunt et ullam eligendi id doloremque provident in incidunt saepe ut dolor voluptatem. Qui laboriosam corporis At voluptatem temporibus quo sequi quam. Et nostrum voluptatum nam galisum voluptatibus aut voluptate rerum ut voluptatem rerum aut beatae voluptas et numquam obcaecati. 
                </p>
                <img src="../img/Post1.jpg" alt="Immagine" class="post"/>
                <br />
                <img src="../img/Like.png" alt="Bottone Like" class="icone iconePost"/>
                <img src="../img/Commenti.png" alt="Bottone Commenti" class="icone iconePost"/>
            </div>
            <div class="comment">
                <form>
                    <span class="textarea" role="textbox" contenteditable></span>
                    <input type="submit" class="comment">
                </form> 
            </div>
            <div class="comment">
                <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label>
                <br />
                <label>Data</label>
                <br />
                <p>
                    Lorem ipsum dolor sit amet. Vel quaerat neque vel quod dolorum aut ratione maiores cum asperiores quia non facere dolores eum consectetur voluptatibus!
                </p>
            </div>
            <div class="comment">
                <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label>
                <br />
                <label>Data</label>
                <br />
                <p>
                    Questo è un commento molto interessante
                </p>
            </div>
                
            <div>
                <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label><img src="../img/Falegnameria.png" alt="Categoria_Falegnameria" class="icone"/> 
                <br />
                <label>Data</label>
                <br />
                <p>
                    Lorem ipsum dolor sit amet. Vel quaerat neque vel quod dolorum aut ratione maiores cum asperiores quia non facere dolores eum consectetur voluptatibus! Aut dolorem incidunt et ullam eligendi id doloremque provident in incidunt saepe ut dolor voluptatem. Qui laboriosam corporis At voluptatem temporibus quo sequi quam. 
                </p>
                <img src="../img/Post2.jpg" alt="Immagine" class="post"/>
                <br />
                <img src="../img/Like.png" alt="Bottone Like" class="icone iconePost"/>
                <img src="../img/Commenti.png" alt="Bottone Commenti" class="icone iconePost"/>
            </div>
        </section>
    </main>
    <footer>
        <a href="impostazioni.html"><img src="../img/Menu.png" alt="Bottone Menu" class="iconeFooter"></a>
        <a href="#"><img src="../img/Notifiche.png" alt="Bottone Notifiche" class="iconeFooter"></a>
        <a href="aggiungiPost.html" class="footer">+</a>
        <a href="#"><img src="../img/Cerca.png" alt="Bottone Cerca" class="iconeFooter"></a>
        <a href="#"><img src="../img/Foto.png" alt="Bottone Profilo" class="iconeFooter"></a>
    </footer>
</body>
</html>