<!DOCTYPE html>
<html lang="it">
<head>
    <title>TinkleArt - Impostazioni</title>
    <link rel="icon" type="img/png" href="../img/Menu.png" />
    <link rel="stylesheet" type="text/css" href="../css/home.css" />
    <link rel="stylesheet" type="text/css" href="../css/impostazioni.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
</head>
<body>
    <header>
        <a href="javascript:history.go(-1)" class="phone"><img src="../img/icone/Indietro.png" alt="Bottone Indietro" /></a>
        <img src="../img/icone/TinkleArt.png" alt="TinkleArt" class="logo"/>
        <form class="web">
            <label>Cerca<input type="text" value="Cerca"></label>
            <img src="../img/icone/Cerca.png" alt="Bottone Cerca">
        </form>
        <a href="aggiungipost.html" class="web bottone">+</a>
        <a  href="home.html" class="web"><img src="../img/icone/Home.png" alt="Bottone Home" /></a>
        <a href="notifiche.html" class="web"><img src="../img/icone/Notifiche.png" alt="Bottone Notifiche" /></a>
        <a href="profilo.html" class="web"><img src="../img/Foto.png" alt="Bottone Profilo" /></a>
        <a href="impostazioni.html" class="web"><img src="../img/icone/Menu.png" alt="Bottone Impostazioni" /></a>
    </header>
    <main>
        <aside class="web">
            <h1>Categorie</h1>
            <ul>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/icone/Bigiotteria.png" alt="Icona" class="icone"/>
                            <h2>Bigiotteria</h2>
                        </div>
                    </a>
                    <input type="submit" value="Segui">
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/icone/Falegnameria.png" alt="Icona" />
                            <h2>Falegnameria</h2>
                        </div>
                    </a>
                    <input type="submit" value="Segui">
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/icone/Tecnologia.png" alt="Icona" />
                            <h2>Tecnologia</h2>
                        </div>
                    </a>
                    <input type="submit" value="Segui">
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/icone/TruccoCasa.png" alt="Icona" />
                            <h2>Casa</h2>
                        </div>
                    </a>
                    <input type="submit" value="Segui">
                </li>
                <li>
                    <input type="button" value="Altre" name="altro">
                </li>
            </ul>
            <hr/>
            <h1>Following</h1>
            <ul>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/>
                            <h2>Nome Cognome</h2>
                        </div>
                    </a>
                    <input type="button" value="Non seguire pi&ugrave;">
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/>
                            <h2>Nome Cognome</h2>
                        </div>
                    </a>
                    <input type="submit" value="Segui">
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/>
                            <h2>Nome Cognome</h2>
                        </div>
                    </a>
                    <input type="button" value="Non seguire pi&ugrave;">
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/>
                            <h2>Nome Cognome</h2>
                        </div>
                    </a>
                    <input type="button" value="Non seguire pi&ugrave;">
                </li>
                <li>
                    <input type="button" value="Altri" name="altro">
                </li>
            </ul>
        </aside><section>
            <h1 class="web phone">Impostazioni</h1>
            <a href="../template/privacy.html">
                <div>
                    <img src="../img/icone/Privacy.png" alt="Bottone Privacy" />
                    <h2>Privacy</h2>
                </div>
            </a>
            <a href="../template/following.html">
                <div>
                    <img src="../img/icone/Amici.png" alt="Bottone Follow" />
                    <h2>Follow</h2>
                </div>
            </a>
            <a href="../template/categorieelenco.html">
                <div>
                    <img src="../img/icone/Tecnologia.png" alt="Bottone Categorie" />
                    <h2>Categorie</h2>
                </div>
            </a>
            <hr />
            <h2>Categorie Seguite</h2>
            <ul>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/icone/Bigiotteria.png" alt="Bottone Categoria" />
                            <h3>Bigiotteria</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/icone/Falegnameria.png" alt="Bottone Categoria" />
                            <h3>Falegnamenria</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/icone/TruccoCasa.png" alt="Bottone Categoria" />
                            <h3>Casa</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="../img/icone/Tecnologia.png" alt="Bottone Categoria" />
                            <h3>Tecnologia</h3>
                        </div>
                    </a>
                </li>
            </ul>
            <hr />
            <a href="login.html">
                <div>
                    <img src="../img/icone/Logout.png" alt="Bottone Logout" />
                    <h2>Logout</h2>
                </div>
            </a>
        </section>
    </main>
    <footer>
        <a href="impostazioni.html"><img src="../img/icone/Menu.png" alt="Bottone Impostazioni" class="icone"></a>
        <a href="notifiche.html"><img src="../img/icone/Notifiche.png" alt="Bottone Notifiche" class="icone"></a>
        <a href="aggiungipost.html" class="bottone">+</a>
        <a href="cerca.html"><img src="../img/icone/Cerca.png" alt="Bottone Cerca" class="icone"></a>
        <a href="profilo.html"><img src="../img/Foto.png" alt="Bottone Profilo" class="icone"></a>
    </footer>
</body>
</html>