<!DOCTYPE html>
<html lang="it">
    <head>
        <title>TinkleArt</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../css/login.css"/>
    </head>
    <body>
        <header>
            <img src="../img/TinkleArt.jpg">
        </header>
        <main>
            <section>
                <form>
                    <h2>Effettua l'accesso</h2>
                    <label>Email:<input type="text" name="email_accesso"></label><br>
                    <label>Password:<input type="password" name="password_accesso"></label><br>
                    <input type="submit" value="Accedi"><br>
                    <a href="#">Password dimenticata</a>
                </form>
                <footer>
                    <input type="button" value="Registrati">
                </footer>
            </section><aside>
                <form>
                    <h2>Crea un nuovo account</h2>
                    <label>Nome:<input type="text" name="nome_registrazione"></label><br>
                    <label>Cognome:<input type="password" name="cognome_registrazione"></label><br>
                    <label>Email:<input type="text" name="email_registrazione"></label><br>
                    <label>Password:<input type="password" name="password_registrazione"></label><br>
                    <label>Conferma Password:<input type="text" name="cpassword_registrazione"></label><br>
                    <input type="submit" value="Registrati" >
                </form>
            </aside>
        </main>
    </body>
</html>