<!DOCTYPE html>
<html lang="it">
<head>
    <title>TinkleArt - Notifiche</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="icon" type="img/png" href="../img/Home.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="notifica">
    <header>
        <img src="../img/Indietro.png" alt="Bottone Indietro" class="icone"/>
        <img src="../img/TinkleArt.png" alt="TinkleArt" class="logo"/>
        <img src="../img/Home.png" alt="Bottone Home" class="icone web"/>
        <img src="../img/Menu.png" alt="Bottone Menu" class="icone web">
        <img src="../img/Notifiche.png" alt="Bottone Notifiche" class="icone web">
        <img src="../img/Cerca.png" alt="Bottone Cerca" class="icone web">
        <img src="../img/Foto.png" alt="Bottone Profilo" class="icone web">
    </header>
    <main>
        <section>
            <h1>Home</h1>
            <div>
                <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label><img src="../img/NotificaNuova.png" alt="Logo Nuova Notifica" class="icone"/><br/>
                <p>
                   Ha commentato il tuo post!
                </p>    
            </div>
            <div>
                <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label><img src="../img/NotificaNuova.png" alt="Logo Nuova Notifica" class="icone"/><br/>
                <p>
                   Ha commentato il tuo post!
                </p>    
            </div>
            <div>
                <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label><img src="../img/NotificaVista.png" alt="Logo Notifica Vista" class="icone"/><br/>
                <p>
                   Ha commentato il tuo post!
                </p>
            </div>
            <div>
                <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label><img src="../img/NotificaVista.png" alt="Logo Notifica Vista" class="icone"/><br/>
                <p>
                   Ha messo mi piace!!
                </p>
            </div>
            <div>
                <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label><img src="../img/NotificaVista.png" alt="Logo Notifica Vista" class="icone"/><br/>
                <p>
                   Ha commentato il tuo post!
                </p>
            </div>
            <div>
                <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label><img src="../img/NotificaVista.png" alt="Logo Notifica Vista" class="icone"/><br/>
                <p>
                   Ha messo mi piace!!
                </p>
            </div>
            <div>
                <img src="../img/Foto.png" alt="Foto Profilo" class="icone"/><label>Nome Cognome</label><img src="../img/NotificaVista.png" alt="Logo Notifica Vista" class="icone"/><br/>
                <p>
                   Ha messo mi piace!!
                </p>
            </div>
        </section>
    </main>
    <footer>
        <a href="impostazioni.html"><img src="../img/Menu.png" alt="Bottone Menu" class="iconeFooter"></a>
        <a href="#"><img src="../img/Notifiche.png" alt="Bottone Notifiche" class="iconeFooter"></a>
        <a href="aggiungiPost.html" class="footer">+</a>
        <a href="#"><img src="../img/Cerca.png" alt="Bottone Cerca" class="iconeFooter"></a>
        <a href="#"><img src="../img/Foto.png" alt="Bottone Profilo" class="iconeFooter"></a>
    </footer>
</body>
</html>