<!DOCTYPE html>
<html lang="it" class="registrati">
    <head>
        <title>TinkleArt</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" href="../css/login.css"/>
    </head>
    <body>
        <header>
            <img src="../img/TinkleArt.png" alt="TinkleArt">
        </header>
        <main>
            <section>
                <form method="post">
                    <label>Nome<input type="text" name="nome_registrazione"></label><br>
                    <label>Cognome<input type="password" name="cognome_registrazione"></label><br>
                    <label>Email<input type="text" name="email_registrazione"></label><br>
                    <label>Password<input type="password" name="password_registrazione"></label><br>
                    <label>Conferma Password<input type="text" name="cpassword_registrazione"></label><br>
                    <footer>
                        <input type="submit" value="Registrati">
                        <a href="login.html">Sono già registrato</a>
                    </footer>
                </form>
            </section>
        </main>
    </body>
</html>