<!DOCTYPE html>
<html lang="it">
    <head>
        <title>TinkleArt</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header>
            <h1>TinkleArt</h1>
        </header>
        <main>
            <section>
                <form>
                    <h2>Crea un nuovo account</h2>
                    <label>Nome<input type="text" name="nome_registrazione"></label><br>
                    <label>Cognome<input type="password" name="cognome_registrazione"></label><br>
                    <label>Email<input type="text" name="email_registrazione"></label><br>
                    <label>Password<input type="password" name="password_registrazione"></label><br>
                    <label>Conferma Password<input type="text" name="cpassword_registrazione"></label><br>
                    <input type="submit" value="Registrati">
                </form>
                <footer>
                    <div>
                        <a>Sono già registrato</a>
                    </div>
                </footer>
            </section>
        </main>
    </body>
</html>