<!DOCTYPE html>
<html lang="it" class="one_column_everywhere">
    <head>
        <title>TinkleArt - Reimposta Password</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" href="../css/login.css"/>
        <link rel="icon" type="img/png" href="../img/Amici.png" />
    </head>
    <body>
        <header>
            <img src="../img/TinkleArt.png" alt="TinkleArt">
        </header>
        <main>
            <section>
                <form method="post">
                    <h2>Reimposta la nuova password</h2><br>
                    <label>Password<input type="password" name="password_reimposta"></label><br>
                    <label>Conferma Password<input type="password" name="cpassword_reimposta"></label><br>
                    <footer class="recupera">
                        <input type="submit" value="Reimposta">
                        <a href="login.html">Torna alla pagina di accesso</a>
                    </footer>
                </form>
            </section>
        </main>
    </body>
</html>