ul {
    list-style: none;
}

form img {
    max-width: 50%;
}

form p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    word-wrap:break-word;
}

section {
    position: top;
    padding:0px;
    margin:0px;
}

section h1 {
    margin:5% 5px;
    text-align: center;
    color:#9a031e;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

input[name="submitAnnulla"]{
    background-color: #9a031e;
    border-color: rgb(154,3,30);
}

input[name="imgpost"], input[type="checkbox"]{
    border-color: none;
    background-color: none;
    box-shadow: none;
    border-radius:none;
    margin-bottom: 0%;
    margin-top: 0%;
    vertical-align: bottom;
}

section form > ul{
    width: 100%;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

section form ul li{
    margin-bottom: 10px;
}
section form ul li label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin:10px;
}

section form ul li textarea{
    width: 90%;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

section form ul li ul {
    text-align: left;
}
section form > ul > li{
    margin-bottom: 30px !important;
}

input[type="file"][name="imgpost"],input[type="file"][name="imgpersona"]{
    color: black;
    display: none;
}
label.imgp{
    background-color: rgb(227, 100, 20);
    border: 1px solid rgb(227, 100, 20);
    color: white;
    width: 120px;
    height: 28px;
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 20px;
    border-radius: 20px;
    margin: 5% 4px;
    vertical-align: center;
    padding: 1%;
}
img.profilo{
    max-width: 200px;
}
@media screen and (min-width:768px){
    section{
        width:65%;
    }
}