*{
    box-sizing: border-box;
}

main section h1 {
    text-align: center;
    color: rgb(154, 3, 30);
    font-size: 30px;
}

ul{
    padding: 0px;
}
main section ul li {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 10px;
    padding: 1px;
    border: 1px solid rgb(154, 3, 30);
    background-color: white;
}

main section ul li a {
    text-decoration: none;
    min-width: 60%;
    color: black;
}
main section ul li a img {
    float: left;
    margin: 6px;
    max-width: 38px;
}
main section ul li a h2{
    margin: 0%;
    justify-content: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 7px 14px 50px;
    flex: 30%;
}

main section input {
    color: rgb(255, 255, 255);
    width: 120px;
    height: 28px;
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 20px;
    margin: 2%;
    border-radius: 20px;
    float: right;
}

@media screen and (min-width: 738px){
    main{
        width: 100%;
    }
    main section{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    main section > h1{
        text-align: center;
    }
    main section > ul {
        width: 100%;
    }
    main section > ul li {
        min-width: 80%;
    }
    main section > ul li a img {
        min-width: 40px !important;
        height: 38px;
        float: left;
    }
    section ul li a{
        flex: 80%;
    }
}