*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    background-color: rgb(277, 100, 20, 0.8);
}

main{
    display: inline-block;
    padding: 5%;
    width: 100%;
}
main section div{
    display: flex;
    margin-bottom: 4px;
    border: 2px solid #9a031e;
    min-width: 100%;
}
main section a{
    text-decoration: none;
}
main section a img{
    margin: 0px 2px 0px 0px;
    padding: 4px;
    width: 60px;
    height: 60px;
}
main section h1{
    color: #9a031e;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 4px 4px 1px rgb(255, 255, 255, 0.4);
}
main section a h1{
    justify-content: center;
    padding: 15px;
    color: black;
    text-shadow: 0px 0px 0px rgb(255, 255, 255, 0.4);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    text-align: left;
    width: 50%;
    margin: 0px;
}

main section ul li {
    list-style: none;
}

main section hr{
    margin: 25px 0px;
    border-color: rgb(0,0,0,0.4);
}

footer{
    display: none;
}

@media screen and (min-width: 738px){
    body{
        background-color: rgb(238,244,237);
    }
    main{
        margin: 0px;
        padding: 0px;
        display: flex;
    }
    main section{
        margin: 5% 10%;
        width: 60%;
        flex: right;
    }
}