div.info{
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}
div.info div{
    display: flex;
    flex: row wrap;
    vertical-align: top;
}
div.info img.mod{
    max-width: 20px;
    max-height: 20px;
    align-self: flex-end;
}
div.modifica {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 30px;
}
div.info img.imgp{
    max-width: 200px;
    max-height: 200px;
    border-radius: 70%;
}
div.info div h2{
    font-size: xx-large;
    align-self: center;
    width: 80%;
    margin-bottom: 0%;
}
div.info p {
    width: 80vw !important;
    margin: 30px 20px 30px;
    overflow: hidden;
}
input[value="FOLLOWER"]{
    height: 36px;
    margin: 5px 4px 20px;
}
@media screen and (min-width:768px){
    div.info p {
        width: 45vw !important;
    }
}