section h1 {
    margin:5% 5px;
    text-align: center;
    color:#9a031e;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}
a {
    text-decoration: none;
    color:#000;
}
a:hover{
    color:#9a031e;
}

ul {
    list-style: none;
}

section {
    position: top;
    padding:0px;
    margin:0px;
}

section form {
    text-align: center;
}

section form img, section div img {
    width: 30px;
    vertical-align: middle;
}

section > form input[type="search"]{
    width: 350px;
    height:30px;
    font-size: medium;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 20px;
    border-radius: 20px;
    margin: 14px 2px;
    color: #000;
}

section > form > ul {
    padding:0px;
    margin:0px;
}

section > div > ul {
    padding:0px;
    margin:4% 0px;
}

section > div > ul > li > a {
    text-decoration: none;
    color:#000;
}

section > div > ul > li {
    display: inline-block;
    width:100%;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    list-style: none;
    margin: 1%;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(154, 3, 30);
}

section > div > ul > li > input {
    float:right;
    color: rgb(255, 255, 255);
    width: 120px;
    height: 28px;
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 20px;
    border-radius: 20px;
}

section > div > ul > li > input[type="submit"] {
    background-color: rgb(81, 186, 84);
}

section > div > ul > li > input[type="button"] {
    background-color: rgb(227, 100, 20);
}

@media screen and (min-width:768px){
    section{
        width:1280px;
    }
    section > div > ul{
        width:100%;
    }
    section form img, section div img {
        width: 50px;
    }

    section > div > ul > li {
        font-size: xx-large;
    }
        
}