* {
    box-sizing: border-box;
  }

body{
    background-color: rgb(238,244,237);
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

main {
    margin: 0;
    padding: 8% 10% 0 10%;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
}
img.icone{
    max-width: 8%;
    margin: 2%;
}

header{
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgb(227,100,20), rgb(251,139,36,0.55));
    margin: 0%;
    padding: 2%;
    text-align: center;
    height: 15%;
    width: 100%;
}
header > img{
    max-width: 50%;
    padding: 2% 0 2%;
}

.web{
    display: none;
}

section{
    position: top;
    align-items: center;
}

article{
    background-color: white;
    width: 100%;
    margin: 4%;
    padding: 10%;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #9a031e;
}
article  > label{
    max-width: 50%;
}
article > img{
    float: right;
    vertical-align: top;
}
article > img:first-child{
    float: left;
    margin-right: 2%;
}
article > img.iconePost:nth-child(odd){
    float: left;
    text-align: right;
}

footer{
    box-sizing: border-box;
    background-image: linear-gradient(to top, rgb(227,100,20), rgb(251,139,36,0.6));
    margin: 0%;
    padding: 2%;
    text-align: center;
    height: 15%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
a {
    margin: 3%;
    padding: 0%;
    max-width: 14%;
    align-items: center;
}
footer > a.footer{
    display: inline-block;
    width: 15%;
    padding: 2%;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    color: black;
    background-color: #9a031e;
    font-size: 300%;
    border-radius: 20%;
    box-shadow: 0px 5% 10% rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 738px){
    img.icone{
        width: 3%;
        margin: 1%;
        padding: 0%;
    }

    header{
        box-sizing: border-box;
        margin: 0%;
        padding: 1%;
        text-align: left;
    }
    header > img:first-child{
        display: none;
    }
    img.logo{
        max-width: 20%;
        margin: 0%;
        padding: 0%; 
    }

    main{
        margin-right: 8%; 
        padding: 0%;
    }
    
    section{

    }

    footer{
        display: none;
    }
}