*{
    box-sizing: border-box;
}

body{
    background-color: rgb(238,244,237);
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.web{
    display: none;
}

header{
    display: inline-block;
    margin: 0px;
    padding: 10px;
    height: 60px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(227,100,20), rgb(251,139,36,0.55));
    text-align: center;
}
header img.icone{
    width: 35px;
    margin: 2px
}
header img{
    max-height: 45px;
}

main {
    margin: 0px;
    padding: 8% 10% 0% 10%;
    display: flex;
    flex-direction: column;
    
}

img.icone {
    max-width: 40px;
}

img {
    max-width: 100%;
}

section{
    position: top;
    align-items: center;
}
section > h1{
    display: none;
}

div{
    background-color: white;
    width: 100%;
    margin: 4% 0 4% 0;
    padding: 10%;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #9a031e;
}
div  > label{
    max-width: 50%;
}
div > img{
    float: right;
    vertical-align: top;
}
div > img:first-child{
    float: left;
    margin-right: 2%;
}
div > img.iconePost:nth-child(odd){
    float: left;
    text-align: right;
}

footer{
    background-image: linear-gradient(to top, rgb(227,100,20), rgb(251,139,36,0.6));
    margin: 0%;
    padding: 10px;
    text-align: center;
    height: 75px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
a {
    margin: 0px 24px;
    padding: 0%;
    max-width: 8%;
}
footer > a.footer{
    display: inline-block;
    align-items: center;
    min-width:10%;
    padding: 2%;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    color: black;
    background-color: #9a031e;
    font-size: 200%;
    border-radius: 20%;
    box-shadow: 0px 5% 10% rgba(0, 0, 0, 0.2);
}

/*Parte commenti*/
div.comment {
    margin-top: 0%;
    margin-bottom: 0%;
    border-top: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
}

div.post {
    margin-bottom: 0%;
}

/**/
/*div.comment {
    display: none;
}*/

.textarea {
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
    display: inline-block;
    width: 74%;
    overflow: hidden;
    resize: vertical;
    min-height: 40px;
    line-height: 20px;
    margin-right: 5%;
}

span {
    vertical-align: top;
}

.textarea[contenteditable]:empty::before {
    content: "Scrivi qui il tuo commento";
    color: gray;
}

input.comment {
    width: 19%;
    height: 28px;
    color: #FFFFFF;
    background-color: #51ba54;
    font-size: large;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

input.comment:hover {
    box-shadow: 0px 15px 20px rgba(81, 186, 84, 0.4);
    transition: all 0.2s;
    transform: translateY(-1px);
}

div.comment>p {
    background-color: rgb(238,244,237);
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
}
/*Fine parte commenti*/

/*Notifiche*/
.notifica section {
    width: 100%;
}

.notifica div {
    margin: 0 0 4% 0;
    padding: 4% 4% 1% 4% ;
}

.notifica div label {
    font-size: large;
    padding-top: 10px;
    position: absolute;
}

.notifica div p {
    margin-top: 40px;
}

.notifica main {
    padding-top: 4%;
}
/*Fine Notifiche*/

@media screen and (min-width: 738px){
    img.icone{
        width: 3%;
        margin: 1%;
        padding: 0%;
    }

    header{
        margin: 0%;
        padding: 10px 10px 0 10px;
        text-align: left;
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: flex-end;
    }
    img.logo{
        max-width: 20%;
        margin: 0%;
        padding: 0%; 
    }
    header > img.icone{
        display: flex;
    }
    header > img:first-child{
        display: none;
    }

    main{
        margin-right: 8%; 
        padding: 0%;
        display: flex;
        flex-direction: row;
    }
    
    aside.web{
        display: inline-block;
        max-width: 40%;
        margin-right: 3%;
        padding: 2%;
        background-color: rgb(251,139,36,0.55);
    }
    section{
        max-width: 70%;
    }

    footer{
        display: none;
    }
}